@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  background: #343541;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.heder-text{
  color: #fff;
  font-family: cursive;
  margin: 20px 0;
  font-size: 2rem;
  text-align: center;
}


#chat_container {
  flex: 1;
  width: 100%;
  height: 100%;
  color: #fff;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 20px;
  scroll-behavior: smooth;
}


.wrapper {
  width: 100%;
  padding: 15px;
}

.ai {
  background: #fff;
  color: black;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.profile img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.message {
  flex: 1;
  font-size: 20px;
  max-width: 100%;
  overflow-x: scroll;
  white-space: pre-wrap; 
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.message::-webkit-scrollbar {
  display: none;
}

form {
  width: 100%;
  max-width: 1280px;
  margin: 15px auto;
  padding: 10px;
  background: #fff;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 10px;
}

textarea{
  width: 100%;
  /* color: #fff; */
  font-size: 18px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 35px;
  height: 35px;
}




/* Responsive Style */

@media only screen and (max-width: 600px) {
  .heder-text{
    color: #fff;
    font-family: cursive;
    margin: 20px 0;
    font-size: 1rem;
  }
}